.chooseUsContainer {
  padding: 10rem 0;
  margin: 0 auto;
  max-width: 1280px;
}

.chooseUsTitle {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0 4rem 0;
}

.chooseUsTitleDesc {
  font-weight: 400;
  max-width: 63.6rem;
}

.chooseUsCard {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-right: 2rem;
  flex-wrap: wrap;
  max-width: 1280px;
  margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
  .chooseUsContainer {
    padding: 4rem 0;
    margin: 0 2rem;
  }

  .chooseUsTitle{
    margin: 2rem 0 1.5rem 0;

  }
}
