.btnContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: max-content;
    height: max-content;
    border: 1px solid var(--stroke);
    padding: 0.5625rem 1.3125rem;
    border-radius: 624.9375rem;
}

.btnText{
    font-weight: 700;
}

/* Media Query For Fold Device*/
@media only screen and (max-width: 320px) {
.btnText{
    font-size: var( --label-text);
}
}