.service {
  padding: 10rem 0;
  background-color: var(--primary);
}

.serviceContainer {
  margin: 0 8rem;
}

.serviceTitle {
  margin: 2rem 0 4rem 0;
}

.serviceCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}

@media only screen and (max-width: 1024px) {
  .service {
    padding: 4rem 0;
  }
  .serviceContainer {
    margin: 0 2rem;
  }

  .serviceTitle{
    margin: 2rem 0 1.5rem 0;
  }
}
