.background {
  background-color: var(--primary);
}
.service {
  padding-top: 10rem;
  padding-bottom: 10rem;
  margin: 0 auto;
}

.serviceTitle {
  margin: 2rem 0 4rem 0;
}

.serviceCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (max-width: 820px) {
  .service {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .serviceTitle {
    margin: 2rem 0 1.5rem 0;
  }
}
