.containerBackground {
  background-color: var(--primary);
}
.service {
  margin: 0 auto;
}

.serviceTitle {
  margin: 2rem 0 4rem 0;
}

.serviceCard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1280px;
  margin: 0 auto;
}


/* For Fold Device*/

@media only screen and (max-width: 820px) {
  .serviceTitle {
    margin: 2rem 0;
  }
}

/* For Fold Device*/

@media only screen and (max-width: 320px) {
  .serviceTitle{
    text-align: center;
  }
}
