.about {
  display: flex;
  gap: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.aboutLeft {
  display: flex;
  margin: 0 auto;
  flex-grow: 1;
  max-width: 50%;
}

.aboutRight {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  max-width: 60rem;
}

.aboutTitle {
  margin: 2rem 0 4rem 0;
}

.aboutPara {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 50rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: var(--textColor);
}

.companyName {
  font-weight: 700;
}

/* For Tabelt  */

@media only screen and (max-width: 820px) {
  .about {
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .aboutLeft {
    max-width: 100%;
  }

  .aboutRight {
    max-width: 100%;
  }

  .aboutTitle {
    margin: 2rem 0 1.5rem 0;
  }

  .aboutPara {
    max-width:85%;
    gap: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .aboutPara {
    max-width: 100%;
    gap: 1.4rem;
  }
}