@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Font Size */
  font-size: 62.5%;

  /* Color Variables  */
  --white: #ffffff;
  --textColor: #13131a;
  --primary: #f5f5f7;
  --accent: #1b72e8;
  --stroke: #a6a6a6;
  --accent-container: #ffffffb2;

  /* Typography  */
  --base-font: 1.6rem;
  --label-text: 1.4rem;
  --caption-text: 1rem;
  --heading-fold-text: 2.4rem;
  --heading-mobile-text:3rem;
  --heading-tablet-text: 3.7rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

/* Typography Styles */

h1 {
  font-size: 6.4rem;
  font-weight: 400;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

/* Container Styles */

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.containerPadding {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

/* For Tablet Device*/

@media only screen and (max-width: 820px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3.7rem;
  }

  h4 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1.6rem;
  }

  .containerPadding {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

@media only screen and (max-width: 1280px) {
  .container {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

/* For Mobile Device*/

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.6rem;
  }
}

/* For Fold Device*/

@media only screen and (max-width: 320px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  h3 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2.4rem;
  }
}
