@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default font size */
  font-size: 62.5%;

  /* Color Variables  */
  --white: #ffffff;
  --textColor: #13131a;
  --primary: #f5f5f7;
  --accent: #1b72e8;
  --stroke: #a6a6a6;
  --accent-container: #ffffffb2;

  /* Typography Variables */
  --label: 1.4rem;
  --body: 1.6rem;
  --subTitle: 2.4rem;
  --text: 2rem;
}

/* Typography  */

h1 {
  font-size: 6.4rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.6rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* For Tablet */

@media only screen and (max-width: 820px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.8rem;
  }

}

@media only screen and (max-width: 1280px) {
  .container {
    padding: 0 3rem;
  }
}

/* For Mobile */

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 3rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1.6rem;
  }
}
